<div class="col" *ngIf="pokemon && !pokemon?.results && !loading">
  <div class="d-flex justify-content-center m-5">
    <div class="card">
    <button class="btn btn-light" (click)="onDetail()">
        <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}"
          class="card-img-top img-fluid border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">{{ pokemon.name }}</h5>
          <div class="container">
            <div class="d-flex flex-wrap justify-content-center">
              <span *ngFor="let type of pokemon.types" class="badge m-1  {{type.type.name}}">{{ type.type.name }}</span>
            </div>
          </div>
          <div class="card-text">
            <p>Height: {{ pokemon.height }} dm</p>
            <p>Weight: {{ pokemon.weight }} oz</p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<app-pokemon-detail *ngIf="pokemonDetails && !loading && !pokemon?.results && !pokemon" (setName)="setNameEvent($event)" [pokemonDetails]="pokemonDetails"></app-pokemon-detail>
