@if (pokemon) {
  <div class="container-sm py-4">
    <button class="btn btn-light border mb-4" (keypress)="goBack()" (click)="goBack()">
      <i class="bi bi-chevron-left"></i>
      Back to List
    </button>

    <div class="card shadow">
      <div class="bg-danger text-white p-4">
        <div class="row g-4 align-items-center">
          <div class="col-md-4 text-center">
            <img
              [src]="pokemon.sprite"
              [alt]="pokemon.name"
              class="img-fluid pokemon-sprite"
            />
          </div>
          <div class="col-md-8">
            <h1 class="text-capitalize mb-3">{{ pokemon.name }}</h1>
            <div class="d-flex gap-3 align-items-center flex-wrap">
              <small class="text-light">#{{ pokemon.id }}</small>
              <div class="d-flex gap-2 flex-wrap">
                @for (type of pokemon.types; track type) {
                  <span
                    class="badge"
                    [style.backgroundColor]="getPokemonTypeColor(type)"
                    style="color: white; font-weight: 500"
                    >{{ type | titlecase }}</span
                  >
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="mb-5">
          <h2 class="h5 mb-4">Stats</h2>
          <div class="row g-4">
            @for (stat of getStatKeys(pokemon); track stat) {
              <div class="col-12 col-sm-6 col-sm-4">
                <div class="stat-container">
                  <small class="stat-label">{{ stat }}</small>
                </div>
                <div
                  class="progress stat-progress"
                  role="progressbar"
                  [attr.aria-valuenow]="(pokemon.stats[stat] / 255) * 100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div
                    class="progress-bar"
                    [style.width.%]="(pokemon.stats[stat] / 255) * 100"
                    [style.backgroundColor]="getStatColor(pokemon.stats[stat])"
                  ></div>
                </div>
                <small class="stat-value">{{ pokemon.stats[stat] }}</small>
              </div>
            }
          </div>
        </div>

        <div class="row g-3 mb-5">
          <div class="col-6 col-md-3">
            <div class="text-bg-light p-3 rounded text-center">
              <small class="d-block text-muted mb-2">Height</small>
              <p class="h5 mb-0">{{ pokemon.height / 10 }} m</p>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="text-bg-light p-3 rounded text-center">
              <small class="d-block text-muted mb-2">Weight</small>
              <p class="h5 mb-0">{{ pokemon.weight / 10 }} kg</p>
            </div>
          </div>
        </div>

        <div>
          <h2 class="h5 mb-3">Abilities</h2>
          <div class="d-flex flex-wrap gap-2">
            @for (ability of pokemon.abilities; track ability) {
              <span class="badge text-bg-success">{{
                ability | titlecase
              }}</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}


@if ((!pokemon && (isLoading$ | async) === false || (error$ | async))) {
  <div class="container-sm py-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="text-center text-muted">Pokemon not found.</div>
            <div class="text-center mt-3">
              <button class="btn btn-light border" (click)="goBack()">
                <i class="bi bi-chevron-left"></i>Go Back
              </button>
            </div>
          </div>
        </div>
      </div>
}

@if (isLoading$ | async) {
  <div class="text-center py-5 loading-container">
    <div>
      <div class="spinner-grow text-danger mb-3" role="status"></div>
      <div class="text-danger">Loading Pokémon Details...</div>
    </div>
  </div>
}
