<div class="border rounded p-5">

  <form [formGroup]="searchForm">
    <input id="searchQuery" formControlName="searchQuery" placeholder="charizard" class="form-control" />
  </form>

  <app-pokemon-card (setName)="setName($event)" *ngIf="pokemon" [pokemon]="pokemon" [loading]="loading"></app-pokemon-card>

  <app-pokemon-list (setName)="setName($event)" [pokemonList]="pokemon?.results"></app-pokemon-list>

  <div class="col d-flex justify-content-center p-5" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <p class="text-center mt-5" *ngIf="!pokemon && !loading">Search a valid name for your fav pokemon!</p>

</div>

<mat-paginator
*ngIf="pokemon?.results"
[pageSize]="pageSize"
[pageIndex]="pageIndex"
[pageSizeOptions]="pageSizeOptions"
[length]="pokemon?.count"
(page)="onPageChange($event)"
showFirstLastButtons
></mat-paginator>

