<div class="d-flex justify-content-between align-items-center p-3 border-bottom bg-danger transition-theme"
     [class.bg-dark]="isDarkMode" [class.text-white]="isDarkMode">
  <h1 class="mb-0">Pokedex</h1>

  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn d-flex align-items-center gap-2"
      [ngClass]="isDarkMode ? 'btn-outline-light' : 'btn-outline-dark'"
      (click)="toggleTheme()">

      <i class="bi" [ngClass]="isDarkMode ? 'bi-sun-fill' : 'bi-moon-stars-fill'"></i>

      {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
    </button>
  </div>
</div>

<div [class.bg-dark]="isDarkMode" [class.text-white]="isDarkMode" class="transition-theme" style="min-height: 100vh;">
  <router-outlet></router-outlet>
</div>
